@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f2f4f8;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: block;
    color: #000000;
}

button {
    outline: none;
    border: none;
}

.input,
.passwordInput,
.emailInput,
.nameInput,
.textarea {
    box-shadow: rgba(0, 0, 0, 0.11);
    border: none;
    background: #ffffff;
    border-radius: 3rem;
    height: 3rem;
    width: 100%;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    padding: 0 3rem;
    font-size: 1rem;
}

@media (min-width: 1100px) {

    .input,
    .passwordInput,
    .emailInput,
    .nameInput,
    .textarea {
        padding: 0 5rem;
    }
}

.textarea {
    padding: 1rem 1.5rem;
    height: 300px;
    border-radius: 1rem;
}

.primaryButton {
    cursor: pointer;
    background: #00cc66;
    border-radius: 1rem;
    padding: 0.85rem 2rem;
    color: #ffffff;
    font-weight: 600;
    font-size: 1.25rem;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.removeIcon {
    cursor: pointer;
    position: absolute;
    top: -3%;
    right: -2%;
}

.editIcon {
    cursor: pointer;
    position: absolute;
    top: -3.4%;
    right: 20px;
}

.pageContainer,
.offers,
.profile,
.listingDetails,
.category,
.explore {
    margin: 1rem;
}

@media (min-width: 1024px) {

    .pageContainer,
    .offers,
    .profile,
    .listingDetails,
    .category,
    .explore {
        margin: 3rem;
    }
}


.pageHeader {
    font-size: 2rem;
    font-weight: 800;
}

.navbar {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    height: 85px;
    background-color: #ffffff;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbarNav {
    width: 100%;
    margin-top: 0.75rem;
    overflow-y: hidden;
}

.navbarListItems {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbarListItem {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbarListItemName,
.navbarListItemNameActive {
    margin-top: 0.25rem;
    font-size: 14px;
    font-weight: 600;
    color: #8f8f8f;
}

.navbarListItemNameActive {
    color: #2c2c2c;
}

.nameInput {
    margin-bottom: 2rem;
}

.emailInput {
    margin-bottom: 2rem;
}

.passwordInputDiv {
    position: relative;
}

.passwordInput {
    margin-bottom: 2rem;
}

.showPassword {
    cursor: pointer;
    position: absolute;
    top: -4%;
    right: 1%;
    padding: 1rem;
}

.forgotPasswordLink {
    cursor: pointer;
    color: #00cc66;
    font-weight: 600;
    text-align: right;
}

.signInBar,
.signUpBar {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: inherit;
}

.signInButton,
.signUpButton,
.signInText,
.signUpText {
    cursor: pointer;
}

@media (min-width: 1024px) {

    .signInBar,
    .signUpBar {
        justify-content: start;
    }
}

.signInText,
.signUpText {
    font-size: 1.5rem;
    font-weight: 700;
}

.signInButton,
.signUpButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: #00cc66;
    border-radius: 50%;
}

@media (min-width: 1024px) {

    .signInButton,
    .signUpButton {
        margin-left: 3rem;
    }
}

.registerLink {
    margin-top: 4rem;
    color: #00cc66;
    font-weight: 600;
    text-align: center;
    margin-bottom: 3rem;
}

@media (min-width: 1217px) {
    .explore {
        margin-bottom: 10rem;
    }
}

@media (max-height: 536) {
    .explore {
        margin-bottom: 10rem;
    }
}

.profile {
    margin-bottom: 10rem;
}

.profileHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logOut {
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff;
    background-color: #00cc66;
    padding: 0.25rem 0.75rem;
    border-radius: 1rem;
}

.profileDetailsHeader {
    display: flex;
    justify-content: space-between;
    max-width: 500px;
}

.personalDetailsText {
    font-weight: 600;
}

.changePersonalDetails {
    cursor: pointer;
    font-weight: 600;
    color: #00cc66;
}

.profileCard {
    background-color: #ffffff;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.2);
    max-width: 500px;
}

.profileDetails {
    display: flex;
    flex-direction: column;
}

.profileName,
.profileEmail,
.profileAddress,
.profileAddressActive,
.profileEmailActive,
.profileNameActive {
    all: unset;
    margin: 0.3rem 0;
    font-weight: 600;
    width: 100%;
}

.profileNameActive {
    background-color: rgba(44, 44, 44, 0.1);
}

.profileEmail,
.profileAddress,
.profileAddressActive,
.profileEmailActive {
    font-weight: 500;
}

.profileEmailActive {
    background-color: rgba(44, 44, 44, 0.1);
}

.profileAddressActive {
    background-color: rgba(44, 44, 44, 0.1);
}

.danceClass {
    margin: 1rem;
}

@media (min-width: 1024px) {
    .danceClass {
        margin: 3rem;
    }
}


.danceClass {
    margin-bottom: 10rem;
}

.danceClassListings {
    padding: 0;
}

.danceClassListing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    position: relative;
}

.danceClassListingsLink {
    display: contents;
}

.danceClassListingsImg {
    width: 30%;
    height: 100px;
    border-radius: 1.5rem;
    object-fit: cover;
}

@media (min-width: 1024px) {
    .danceClassListingsImg {
        width: 19%;
        height: 217px;
    }
}

.danceClassListingLocation {
    font-weight: 600;
    font-size: 0.7rem;
    opacity: 0.8;
    margin-bottom: 0;
}

.danceClassListingName {
    font-weight: 600;
    font-size: 1.25rem;
    margin: 0;
}


.danceClassListingDetails {
    width: 65%;
}

@media (min-width: 1024px) {
    .danceClassListingDetails {
        width: 79%;
    }
}

.danceClassListingElement {
    margin-top: 0.5rem;
    font-weight: 600;
    font-size: 1.1rem;
    color: #cba425;
    margin-bottom: 0;
    display: flex;
    align-items: center;
}


.singleDanceClass {
    margin: 1rem;
}

@media (min-width: 2000px) {
    .singleDanceClass {
        margin: 3rem;
    }
}


.singleDanceClass {
    margin-bottom: 10rem;
}

.singleDanceClassListings {
    padding: 0;
}

.singleDanceClassListing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    position: relative;
}

.singleDanceClassListingsLink {
    display: contents;
}

.singleDanceClassListingsImg {
    width: 30%;
    height: 400px;
    border-radius: 1.5rem;
    object-fit: cover;
}

@media (min-width: 1500px) {
    .singleDanceClassListingsImg {
        width: 50%;
        height: 217px;
    }
}

.singleDanceClassListingLocation {
    font-weight: 800;
    font-size: 3rem;
    opacity: 0.8;
    margin-bottom: 0;
}

.singleDanceClassListingName {
    font-weight: 600;
    font-size: 3rem;
    margin: 0;
}


.singleDanceClassListingDetails {
    width: 65%;
}

@media (min-width: 1024px) {
    .singleDanceClassListingDetails {
        width: 79%;
    }
}

.singleDanceClassListingElement {
    margin-top: 0.5rem;
    font-weight: 600;
    font-size: 3rem;
    color: #cba425;
    margin-bottom: 0;
    display: flex;
    align-items: center;
}

.singleDanceClassListingHeading {
    margin-top: 0.5rem;
    font-weight: 600;
    font-size: 4rem;
    color: #5d2020;
    margin-bottom: 0;
    display: flex;
    align-items: center;
}

.singleDanceClassBtn {
    padding: px 4px;
    border: 1px solid #000;
    border-radius: 5px;
    background: #000;
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    appearance: button;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bookingElement {
    margin-top: 0.5rem;
    font-weight: 600;
    font-size: 1.1rem;
    color: #b7dcd8;
    margin-bottom: 0;
    display: flex;
    align-items: center;
}

.heading {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 50px;
    padding: 0 20px;
}

.heading p {
    color: #828282;
}



.form {
    width: 70%;
    margin: 0 auto;
}

.danceClassForm {
    max-width: 400px;

    margin-top: 60px;
    margin-left: 0px;
}

.form-group {
    margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: inherit;
}

.form-group label {
    text-align: left;
    display: block;
    margin: 0 0 5px 3px;
}

.btn {
    padding: px 4px;
    border: 1px solid #000;
    border-radius: 5px;
    background: #000;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    appearance: button;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-danger {
    background: darkred;
    border: none;
}

.btn-payed {
    padding: 10px 20px;
    background: rgb(22, 71, 54);
    border: 1px solid #000;
    border-radius: 5px;
    color: #fff;
}








* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.review-ul {
    list-style: none;
}

.review-container {
    max-width: 650px;
    padding: 0 20px;

    margin-top: -650px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 850px;
}

.review-div {
    background-color: #fff;
    color: #333;
    border-radius: 15px;
    padding: 40px 50px;
    margin: 15px 0;
    position: relative;
}

.review-div.reverse {
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
}

.review-div h2 {
    font-size: 15px;
    font-weight: 600;
    text-align: center;
}

.review-rating {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0 30px;
}

.review-rating li,
.review-num-display {
    position: relative;
    background: #f4f4f4;
    width: 50px;
    height: 50px;
    padding: 10px;
    text-align: center;
    border-radius: 50%;
    font-size: 19px;
    border: 1px #eee solid;
    transition: 0.3s;
}

.review-rating li label {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.review-rating li:hover,
.review-num-display {
    background: #171415;
    color: #fff;
}

[type='radio'] {
    opacity: 0;
}

[type='radio']:checked~label {
    background: #0b0a0a;
    color: #fff;
}

.review-input-group {
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    padding: 8px 10px;
    border-radius: 8px;
}

.review-input {
    flex-grow: 2;
    border: none;
    font-size: 16px;
}

.review-input:focus {
    outline: none;
}

.review-stats {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review-num-display {
    position: absolute;
    top: -10px;
    left: -10px;
}

.review-close,
.review-edit {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    background: none;
    border: none;
}

.reviewer {
    position: relative;
    width: 30px;
    height: 10px;
    padding: 5px;
    top: -44px;
    right: 10px;
    text-align: center;
}

.review-edit {
    right: 40px;
}

.review-btn {
    color: #fff;
    border: 0;
    border-radius: 8px;
    color: #fff;
    width: 100px;
    height: 40px;
    cursor: pointer;
}

.review-btn-primary {
    background-color: #202142;
}

.review-btn-secondary {
    background: #ff6a95;
}

.review-btn:hover {
    transform: scale(0.98);
    opacity: 0.9;
}

.review-btn:disabled {
    background-color: #cccccc;
    color: #333;
    cursor: auto;
}

.review-btn:disabled:hover {
    transform: scale(1);
    opacity: 1;
}

.review-message {
    padding-top: 10px;
    text-align: center;
    color: rebeccapurple;
}


@media (max-width: 600px) {
    .review-rating li {
        margin: 10px 3px;
    }

    .review-rating {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin: 30px 0 40px;
    }

    .review-input-group input {
        width: 80%;
    }
}


.image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.content {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    color: white;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 200%;
    background-color: rgba(0, 0, 0, .4);
}